<div class="flex justify-center w-screen">
    <mat-card class="w-1/2">

        <mat-form-field class="w-full">
            <label>Nazwa treningu</label>
            <input matInput class="text-black" type="text" #nameInput>
        </mat-form-field>

        <div>

            <div>
                <mat-form-field class="w-full">
                    <label>Czas rozpoczęcia</label>
                    <input matInput type="time" #timeInput>
                </mat-form-field>
    
                <mat-form-field appearance="fill" class="flex flex-col items-center w-full">
                    <mat-label>Select an option</mat-label>
                    <mat-select [(value)]="selected">
                        <mat-option value = "RUNNING" name="chuj1" id="RUNNING">Bieganie</mat-option>
                        <mat-option value = "WALKING" name="chuj2" id="WALKING">Chodzenie</mat-option>
                        <mat-option value = "GYM_WORKOUT" name="chuj3" id="GYM_WORKOUT">Trening na siłowni</mat-option>
                        <mat-option value = "BIKE_RIDE" name="chuj4" id="BIKE_RIDE">Jazda na rowerze</mat-option>
                    </mat-select>

                    <input matInput>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="w-1/3">
                    <label>hh</label> <br>
                    <input matInput class="text-black" type="number" #hourInput>
                </mat-form-field>
    
                <mat-form-field class="w-1/3">
                    <label>mm</label><br>
                    <input matInput class="text-black" type="number" #minuteInput>
                </mat-form-field>
    
                <mat-form-field class="w-1/3">
                    <label>ss</label><br>
                    <input matInput class="text-black" type="number" #secondInput>
                </mat-form-field>
            </div>


            <button (click)="addWorkout(nameInput.value, timeInput.value, hourInput.value, minuteInput.value, secondInput.value)">Dodaj workout</button>

        </div>
    </mat-card>