<mat-card class="">
    <div class="form-group flex flex-col items-center">
        <label for="valueToReach">Podaj wartość:</label>
        <input id="valueToReach" type="number" class="text-black form-control">
    </div>
    <mat-form-field appearance="fill" class="flex flex-col items-center">
        <mat-label>Select an option</mat-label>
        <mat-select id = "selectedGoalType" [(ngModel)]="selected">
          <mat-option [value]="goalType" *ngFor="let goalType of goalTypes | async">{{goalType.name}} - {{goalType.unit}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button type="button" (click)="addGoal()" class="btn btn-primary">Dodaj cel</button>
</mat-card>