#createButton {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 10px;
    z-index: 400;
  }
#menu {
  position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 10px;
    z-index: 400;
}