<div class="col-md-12 flex w-full h-screen">
    <div class="h-full w-full flex justify-center items-center font-myFonts">
      <form
        class="bg-white h-2/3 w-1/3 flex flex-col rounded-xl items-center justify-evenly"
        *ngIf="!isLoggedIn"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="form-group w-2/3">
          <label for="username">Nazwa użytkownika</label>
          <input
            type="text"
            class="form-control"
            name="username"
            [(ngModel)]="form.username"
            required
            #username="ngModel"
          />
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="username.errors && f.submitted"
          >
            Nazwa użytkownika jest wymagana!
          </div>
        </div>
        <div class="form-group w-2/3">
          <label for="password">Hasło</label>
          <input
            type="password"
            class="form-control"
            name="password"
            [(ngModel)]="form.password"
            required
            minlength="6"
            #password="ngModel"
          />
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="password.errors && f.submitted"
          >
            <div *ngIf="password.errors.required">Hasło jest wymagane</div>
            <div *ngIf="password.errors.minlength">
              Hasło musi składać się z conajmniej 6 znaków
            </div>
          </div>
        </div>
        <div class="form-group w-2/3">
          <button class="btn btn-primary btn-block">
            Zaloguj
          </button>
        </div>
        <div class="form-group">
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="f.submitted && isLoginFailed"
          >
            Logowanie nie powiodło się {{ errorMessage }}
          </div>
        </div>
      </form>
      <div class="alert alert-success" *ngIf="isLoggedIn">
        Zalogowano jako {{ userName }}.
      </div>
    </div>
  </div>

  <!-- <div class="h-full w-full bg-loginBackground flex justify-center items-center font-myFonts">
    <form class="bg-white h-2/3 w-1/3 flex flex-col rounded-xl items-center justify-evenly">
        <label class="text-3xl">Logowanie</label>
            <div class="flex flex-col w-4/5">
                <label for="username">Podaj nazwę użytkownika</label>
                <input name="username" id="username" placeholder="Wpisz swoją nazwę użytkownika" type="text" class="placeholder-gray-400 text-black rounded h-10 border-b-2">
            </div>
        <div class="flex flex-col w-4/5">
            <label for="password">Podaj hasło</label>
            <input placeholder="Wpisz swoje hasło" type="password" class="placeholder-gray-400 text-black border-b-2 h-10">
        </div>
        <button type="button" (click)="logIn()" mat-raised-button color="accent" class="md:text-base font-myFonts w-2/3">Zaloguj się</button>
    </form>
</div> -->